* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Inter', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: #1d1b20;
}

body {
  padding: 1.5rem 1rem;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.date {
  margin-bottom: 1rem;
}

.dateInner {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.dayOfWeek {
  font-size: 1.2rem;
  font-weight: 500;
}

.currentDate {
  font-size: 0.9rem;
}

.search {
  margin-bottom: 1rem;
}

#seachForm {
  max-width: 1200px;
  position: relative;
  display: flex;
  align-items: center;
}

#searchInput {
  width: 100%;
  background-color: #e6e2e9;
  border: none;
  border-radius: 1.8rem;
  padding: 0.75rem 1.25rem;
  font-size: 1rem;
  line-height: 1.5;
}

#searchInput::placeholder {
  color: #49454f;
}

#seachForm .searchIcon {
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.filerInner {
  max-width: 1200px;
  display: flex;
}

.allFilterBtn {
  border-top-left-radius: 6.2rem;
  border-bottom-left-radius: 6.2rem;
}

.activeFilterBtn {
  margin-left: -1px;
}

.completedFilterBtn {
  margin-left: -1px;
  border-top-right-radius: 6.2rem;
  border-bottom-right-radius: 6.2rem;
}

.isActiveFilterBtn {
  background-color: #e8def8;
  position: relative;
  color: #1c1b1f;
}

.allFilterBtn,
.activeFilterBtn,
.completedFilterBtn {
  width: 100%;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.4;
  background-color: transparent;
  border: 1px solid #79747e;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  cursor: pointer;
}

.allFilterBtn:hover,
.activeFilterBtn:hover,
.completedFilterBtn:hover {
  background-color: #e8def8;
}

.isActiveFilterBtn {
  background-color: #e8def8;
}

.isActiveFilterBtn::before {
  content: '';
  width: 18px;
  height: 18px;
  display: inline-block;
  background-image: url('/assets/icons/check-icon.svg');
  background-size: contain;
  background-repeat: no-repeat;
}

.toDoList {
  margin-top: 1rem;
}

.toDolistItem {
  display: flex;
  justify-content: start;
  gap: 1rem;
  align-items: center;
  background-color: #f7f2fa;
  margin-bottom: 0.8rem;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
}

.toDolistItemRightDate {
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
}

.toDolistItemRightTask {
  font-size: 1rem;
}

.checkbox {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
}

.checkbox input {
  display: none; /* скрываем настоящий чекбокс */
}

.custom-checkbox {
  width: 24px;
  height: 24px;
  background-color: transparent;
  border: 2px solid #49454f; /* светлая сиреневая подложка */
  border-radius: 0.2rem;
  display: flex;
  align-items: center;
  justify-content: center;

  transition: 0.2s;
}

/* Галочка через SVG */
.custom-checkbox::after {
  content: '';
  width: 18px;
  height: 18px;
  opacity: 0;

  background-image: url('/assets/icons/checkbox-check.svg');
  background-size: contain;
  background-repeat: no-repeat;

  transition: 0.2s;
}

/* Когда чекбокс активен */
.checkbox input:checked + .custom-checkbox {
  background-color: #d0bcff; /* сиреневая заливка */
  border: none;
}

.checkbox input:checked + .custom-checkbox::after {
  opacity: 1; /* показываем галочку */
}

.isTaskActive {
  opacity: 0.5;

  .toDolistItemRightTask {
    text-decoration: line-through;
  }
}

.createNewTaskBtn {
  padding: 1rem;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.3), 0 4px 8px 3px rgba(0, 0, 0, 0.15);
  background: #ebdef7;
  border-radius: 1rem;
  border: none;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
}
